
<style>
	body {
	  background-color: lightblue;
	}
	#grad {
		background-image: linear-gradient(blue, white);
	}
	h1 {
		 font-size: 60px;
		color: black;
	}
	/* texte p */
	p {
	  color: white;
	}
	/* texte p */
	
	ol li{
		display: block;
		padding: 14px 16px;
		
		}
	
	/* Menu navigation */

	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	}

	li {
	  float: left;
	}

	li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	/* Change la couleur en noir */
	li a:hover {
	  background-color: #111;
	}
	/* Menu navigation */
	
	/* tableau */
	table
		{
			border-collapse: collapse;
		}
		td, th /* Mettre une bordure */
		{
			border: 1px solid black;
		}
	/* tableau */
</style>